<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Friend List</title>
<%= stylesheet_link_tag "friends" %> 
</head>
<body>
  <div class="card">
  <img src="https://scx1.b-cdn.net/csz/news/800a/2019/15-studysuggest.jpg" alt="Avatar" style="width:100%">

    <div class="name">
      <%= friend.first_name %>
      <%= friend.last_name %>

    </div>
    <!-- Additional details can be added here -->
  </div>
</body>
</html>
