<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Friend Card</title>
<style>
body {
  background-color: #f0f2f5;
}
  .card {
    background-color: #D3D3D3;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  .name {
    font-size: 30px;
    margin-bottom: 10px;
  }
  img {
  border-radius: 5px 5px 0 0;
}
</style>
</head>
<body>
  <div class="card">
  <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">

    <div class="name">
      <%= friend.first_name %>
      <%= friend.last_name %>
    </div>
    <!-- Additional details can be added here -->
  </div>
</body>
</html>
