<h1>Editing friend</h1>

<%= stylesheet_link_tag "editfriends" %> 
<%= render "form", friend: @friend %>

<br>

<div>
  <%= link_to "Show this friend", @friend, class: "button" %> |
  <%= link_to "Back to friends", friends_path, class: "button" %>
</div>
