<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag "home" %> 
<title>About Us</title>
</head>

<body>
  <div class="container">
    <h1>About Us</h1>
    <p>Connecting friends from around the world. Be one of us.</p>
  </div>
  <br>
</body>
</html>
