<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Your friends</title>
<%= stylesheet_link_tag "index", "data-turbo-track": "reload" %> <!-- Add this line to link the CSS file -->
</head>
<body>

  <div class="container">
    <% if user_signed_in? %>
      <div class="user-info">

            <h1>Hi <%= current_user.name %></h1>
            <%= link_to 'Sign out', destroy_user_session_path, class: "button", data: { turbo_method: :delete } %>
          
    <% else %>
      <h1>Your friends are already here.</h1>
      
      <div class="user-info">
        <h2></h2>
        <%= link_to 'Sign up', new_user_registration_path, class: "button" %>
      </div>
    <% end %>
  </div>
</body>
</html>
