<h1>Your friends are already here.</h1>
<h2>Sign up now.</h2>


<% if user_signed_in? %>
  <h1>Well done, <%= current_user.email %></h1>
  <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
  <h1>Home</h1>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>